body{
    background: #FFF1D6 url(img/praia.jpg);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
     line-height: 1.3;;
}    
.container{
    margin: 0 auto;
    width: 960px;
}

article{
    background-color: #FFF;
    border-color: #ccc #999 #999 #ccc;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

article h2{
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}
article a {
    color: #2C88A7;
    font-weight: bold;
}

h1 a{
    color: orangered;
    text-decoration: none;
}
h1 a:hover{
    background-color: orangered;
    color: #fff;
}

article img {
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}

.clear {
    clear: both;
}

footer{
    font-size: 12px;
    text-align: center;
}
aside{
    background-color: #fffbe4;
    border: 1px solid #c9bc8f;
    padding: 8px;
    float: right;
    width: 230px;
}
aside h3{
    font-size: 14px;
    margin-top: 0;
}

aside ol{
    font-size: 12px;
}

.places {
    float: left;
    width: 690px;
}
